/* Geral */
:root {
  --color-white: #fff;
  --color-black: #000;
  --color-primary: #22d4fd;
  --color-secondary: #7d7d7d;
  --color-tertiary: #2f2f2f;
  --color-quaternary: rgba(255, 255, 255, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color-white);
  background-color: var(--color-black);
  height: 100vh;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

/* Header */
header {
  width: 100%;
  padding: 20px 4%;
  justify-content: space-between;
}

header > .flex {
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 250px;
}

header nav a {
  color: var(--color-secondary);
  font-weight: 600;
  text-decoration: none;
  display: block;
}

header nav a:hover {
  color: var(--color-primary);
  transform: scale(1.05);
  transition: 0.3s;
}

header nav ul {
  gap: 40px;
}

header nav ul li {
  list-style: none;
}

/* Main */
.hero {
  padding: 40px 4%;
}

.hero > .flex {
  gap: 100px;
  align-items: center;
}

.hero-content {
  max-width: 700px;
  flex-direction: column;
  gap: 40px;
}

.hero-content__image {
  display: none;
}

.hero-content h1 {
  font-family: "Krona One", Arial, sans-serif;
  font-size: 1.5rem;
}

.hero-content strong {
  color: var(--color-primary);
}

.hero-content p {
  text-align: justify;
}

.hero-content__links {
  width: 100%;
  gap: 20px;
}

.hero-content a {
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--color-white);
  text-decoration: none;
  font-weight: 600;
  padding: 15px 0;
  border: 2px solid var(--color-primary);
  border-radius: 16px;
}

.hero-content a:hover {
  background-color: var(--color-tertiary);
  transform: scale(1.03);
  transition: 0.3s;
}

.hero-image {
  max-width: 400px;
}

.hero-image img {
  width: 100%;
  position: relative;
  animation: flutuar 2s ease-in-out infinite alternate;
}

/* Footer */
.footer {
  width: 100%;
  padding: 20px 4%;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-top: 1px solid var(--color-quaternary);
}

.footer p {
  color: var(--color-secondary);
  font-size: 0.75rem;
}

/* Animações */
@keyframes flutuar {
  0% {
    top: 0;
  }
  100% {
    top: 30px;
  }
}

/* Responsividade */
@media (max-width: 1024px) {
  .container {
    max-width: 960px;
  }

  .hero-content {
    max-width: 500px;
  }

  .hero-content h1 {
    font-size: 1.5rem;
  }

  .hero-content {
    gap: 20px;
  }

  .hero-image {
    max-width: 340px;
  }

  .hero-image img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }

  .logo img {
    width: 200px;
  }

  header nav a {
    font-size: 0.75rem;
  }

  .hero > .flex {
    gap: 40px;
  }

  .hero-content {
    max-width: 400px;
  }

  .hero-content h1 {
    font-size: 1rem;
  }

  .hero-content p,
  .hero-content a {
    font-size: 0.75rem;
  }

  .hero-content__links a {
    padding: 10px 0;
  }

  .hero-content__links img {
    width: 20px;
  }

  .hero-image {
    max-width: 240px;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 300px;
  }

  .hero {
    padding: 20px 4%;
  }

  .logo img {
    width: 150px;
  }

  nav {
    display: none;
  }

  .hero-content {
    gap: 30px;
  }

  .hero-content h1 {
    font-size: 0.875rem;
  }

  .hero-content__image {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .hero-content__image img {
    display: flex;
    width: 150px;
  }

  .hero-image {
    display: none;
  }

  .hero-content__links {
    flex-direction: column;
  }
}
